<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
		<add name="MyDB" connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
	-->
	<connectionStrings>
		<add name="Gallery.SqlServer" connectionString="Server=127.0.0.1;Database=NuGetGallery;User ID=sa;Password=**********;Trusted_Connection=False;Encrypt=True;MultipleActiveResultSets=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="Gallery.SupportRequestSqlServer" connectionString="Server=127.0.0.1;Database=SupportRequest;User ID=sa;Password=**********;Trusted_Connection=False;Encrypt=True;MultipleActiveResultSets=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="Gallery.ValidationSqlServer" connectionString="Server=127.0.0.1;Database=Validation;User ID=sa;Password=**********;Trusted_Connection=False;Encrypt=True;MultipleActiveResultSets=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>

	<appSettings>
		<add key="Gallery.SmtpUri" value="smtps://sistemas%40actsis.com:********@smtp.office365.com:25" xdt:Transform="Insert" />
		<add key="Gallery.RequireSSL" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="Gallery.WarningBanner" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="Gallery.Environment" value="Production" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="Gallery.SiteRoot" value="https://nugetgallery.actsis.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="Gallery.SupportEmailSiteRoot" value="https://nugetgallery.actsis.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="Gallery.AdminPanelDatabaseAccessEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="Gallery.DeprecateNuGetPasswordLogins" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="Gallery.Brand" value="ACTSIS NuGet Gallery" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="Gallery.GalleryOwner" value="ACTSIS NuGet Gallery Soporte &lt;sistemas@actsis.com&gt;" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="Gallery.GalleryNoReplyAddress" value="ACTSIS NuGet Gallery noreplu &lt;sistemas@actsis.com&gt;" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="Gallery.ConfirmEmailAddresses" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<!-- Se usa para habilitar la recopilación de registros de rendimiento. Esta clave se usa para habilitar la recopilación de registros de rendimiento en el servidor de la galería NuGet. -->
		<add key="Gallery.CollectPerfLogs" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="Gallery.ExternalStatusUrl" value="http://grafana.actsis.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="Gallery.ExternalAboutUrl" value="https://www.actsis.com/quienes-somos/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="Gallery.ExternalPrivacyPolicyUrl" value="https://www.actsis.com/#servicios" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="Gallery.ExternalTermsOfUseUrl" value="https://www.actsis.com/#servicios" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<!-- Especificar la URL externa de la página principal. -->
		<add key="Gallery.ExternalBrandingUrl" value="https://www.actsis.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<!-- Especificar un mensaje personalizado de la empresa. -->
		<add key="Gallery.ExternalBrandingMessage" value="Actualizaciones de Sistemas Ltda." xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<!-- Se usa para especificar la URL externa que se usará para mostrar información sobre las marcas comerciales asociadas con la galería NuGet. -->
		<add key="Gallery.TrademarksUrl" value="https://www.actsis.com/#clientes" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<!-- Boleano para permitir eliminar paquetes por usuarios -->
		<add key="PackageDelete.AllowUsersToDeletePackages" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<!-- Se usa para especificar el directorio de almacenamiento de archivos que se usará para almacenar los archivos de paquetes NuGet en la galería NuGet. -->
		<add key="Gallery.FileStorageDirectory" value="~/App_Data/Files" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<!-- Se usa para permitir la creación de nuevos usuarios. -->
		<add key="Gallery.AllowNewUserRegistration" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</appSettings>

	<system.webServer>
		<rewrite xdt:Transform="Remove" />
	</system.webServer>

	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />

		<!-- This is set to 'false' for security reasons. -->
		<trace xdt:Transform="Remove"/>
		<trace xdt:Transform="InsertAfter(/configuration/system.web/compilation)" enabled="true"/>

		<!--
		In the example below, the "Replace" transform will replace the entire 
		<customErrors> section of your web.config file.
		Note that because there is only one customErrors section under the 
		<system.web> node, there is no need to use the "xdt:Locator" attribute.
		
		<customErrors defaultRedirect="GenericError.htm" mode="RemoteOnly" xdt:Transform="Replace">
			<error statusCode="500" redirect="InternalError.htm"/>
		</customErrors>
		-->
		<customErrors mode="Off" xdt:Transform="SetAttributes" />
	</system.web>
</configuration>
